In [1]:
import googlemaps
import pandas as pd
import numpy as np
from datetime import datetime

import util
import distance_mat as dm

In [2]:
city = "Paris"
interest_list = ['outdoor_activity', "museum"]
cl_dist = dm.DistanceClient(6)

In [3]:
dist_mat = dm.DistanceMatrix(city, interest_list, 6)

In [4]:
df1 = cl_dist.get_the_plan(city, interest_list)

         0       1       2       3       4       5       6       7       8  \
0   7200.0   753.0  1310.0  1347.0   964.0   979.0   645.0   854.0   452.0
1    753.0  7200.0  1606.0  2077.0  2375.0  1733.0   754.0  1483.0   630.0
2   1310.0  1606.0  7200.0  1454.0   702.0   947.0  1143.0   623.0  1410.0
3   1347.0  2077.0  1454.0  7200.0  1253.0   640.0  1091.0   968.0  1660.0
4    964.0  2375.0   702.0  1253.0  7200.0  1044.0  1198.0   977.0  1162.0
5    979.0  1733.0   947.0   640.0  1044.0  7200.0   428.0   792.0   770.0
6    645.0   754.0  1143.0  1091.0  1198.0   428.0  7200.0  1157.0   669.0
7    854.0  1483.0   623.0   968.0   977.0   792.0  1157.0  7200.0   745.0
8    452.0   630.0  1410.0  1660.0  1162.0   770.0   669.0   745.0  7200.0
9   1003.0  1348.0   448.0  1073.0  1186.0   707.0  1000.0   630.0  1200.0
10  1183.0  1755.0  1245.0   670.0   989.0   288.0   823.0  1041.0  1350.0
11  1260.0  1266.0   657.0  1451.0   734.0  1317.0  1450.0   865.0  1406.0
12   767.0  1741.0  1568.0  1297.0  1320.0  1049.0   582.0  1016.0   877.0
13  1323.0  1401.0   828.0  1625.0   807.0   961.0  1254.0   726.0  1047.0
14  1188.0  1751.0  1502.0   786.0  1846.0  1269.0   902.0  1432.0  1298.0

         9      10      11      12      13      14
0   1003.0  1183.0  1260.0   767.0  1323.0  1188.0
1   1348.0  1755.0  1266.0  1741.0  1401.0  1751.0
2    448.0  1245.0   657.0  1568.0   828.0  1502.0
3   1073.0   670.0  1451.0  1297.0  1625.0   786.0
4   1186.0   989.0   734.0  1320.0   807.0  1846.0
5    707.0   288.0  1317.0  1049.0   961.0  1269.0
6   1000.0   823.0  1450.0   582.0  1254.0   902.0
7    630.0  1041.0   865.0  1016.0   726.0  1432.0
8   1200.0  1350.0  1406.0   877.0  1047.0  1298.0
9   7200.0  1038.0   739.0  1082.0   584.0  1317.0
10  1038.0  7200.0  1495.0  1512.0  1236.0  1403.0
11   739.0  1495.0  7200.0  1592.0  1144.0  1493.0
12  1082.0  1512.0  1592.0  7200.0  1511.0   526.0
13   584.0  1236.0  1144.0  1511.0  7200.0  1791.0
14  1317.0  1403.0  1493.0   526.0  1791.0  7200.0
0      8
1      8
2      9
3      5
4      2
5     10
6      5
7      2
8      0
9      2
10     5
11     2
12    14
13     9
14    12
dtype: int64
set([1, 4, 6, 7, 10, 11, 13])
set([1, 4, 6, 7, 10, 11, 13])
set([4, 6, 7, 10, 11, 13])
set([6, 7, 10, 11, 13])
set([7, 10, 11, 13])
set([10, 11, 13])
set([11, 13])
set([13])
[set([8, 0, 1]), set([9, 2, 4]), set([3, 5, 6]), set([12, 14, 7]), set([10, 11, 13])]

In [6]:
df_dist = dist_mat.full_dist_matrix
df_dist

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,7200.0,753.0,1310.0,1347.0,964.0,979.0,645.0,854.0,452.0,1003.0,1183.0,1260.0,767.0,1323.0,1188.0
1,753.0,7200.0,1606.0,2077.0,2375.0,1733.0,754.0,1483.0,630.0,1348.0,1755.0,1266.0,1741.0,1401.0,1751.0
2,1310.0,1606.0,7200.0,1454.0,702.0,947.0,1143.0,623.0,1410.0,448.0,1245.0,657.0,1568.0,828.0,1502.0
3,1347.0,2077.0,1454.0,7200.0,1253.0,640.0,1091.0,968.0,1660.0,1073.0,670.0,1451.0,1297.0,1625.0,786.0
4,964.0,2375.0,702.0,1253.0,7200.0,1044.0,1198.0,977.0,1162.0,1186.0,989.0,734.0,1320.0,807.0,1846.0
5,979.0,1733.0,947.0,640.0,1044.0,7200.0,428.0,792.0,770.0,707.0,288.0,1317.0,1049.0,961.0,1269.0
6,645.0,754.0,1143.0,1091.0,1198.0,428.0,7200.0,1157.0,669.0,1000.0,823.0,1450.0,582.0,1254.0,902.0
7,854.0,1483.0,623.0,968.0,977.0,792.0,1157.0,7200.0,745.0,630.0,1041.0,865.0,1016.0,726.0,1432.0
8,452.0,630.0,1410.0,1660.0,1162.0,770.0,669.0,745.0,7200.0,1200.0,1350.0,1406.0,877.0,1047.0,1298.0
9,1003.0,1348.0,448.0,1073.0,1186.0,707.0,1000.0,630.0,1200.0,7200.0,1038.0,739.0,1082.0,584.0,1317.0
10,1183.0,1755.0,1245.0,670.0,989.0,288.0,823.0,1041.0,1350.0,1038.0,7200.0,1495.0,1512.0,1236.0,1403.0
11,1260.0,1266.0,657.0,1451.0,734.0,1317.0,1450.0,865.0,1406.0,739.0,1495.0,7200.0,1592.0,1144.0,1493.0
12,767.0,1741.0,1568.0,1297.0,1320.0,1049.0,582.0,1016.0,877.0,1082.0,1512.0,1592.0,7200.0,1511.0,526.0
13,1323.0,1401.0,828.0,1625.0,807.0,961.0,1254.0,726.0,1047.0,584.0,1236.0,1144.0,1511.0,7200.0,1791.0
14,1188.0,1751.0,1502.0,786.0,1846.0,1269.0,902.0,1432.0,1298.0,1317.0,1403.0,1493.0,526.0,1791.0,7200.0

In [12]:
df_dist.iloc[df_dist.min(axis=1).idxmin()].idxmin()

'10'

In [ ]:
dist_mat.plan.sort_values("day_plan").drop(["photo_ref", "x", "y"], 1)

In [ ]:
df0 = pd.read_csv(filename)
df0[["name", "day_plan"]].sort_values("day_plan")

In [ ]:
df1 = df + np.eye(len(df)) * cl_dist.max_transit_time

In [ ]:
for i in range(len(df)):
    df1.iloc[i, i + 1:] = df.iloc[i + 1:, i].values

In [ ]:
series =df1.idxmin()
series.index = series.index.astype(int)
series

In [ ]:
df.iloc[5:, 4]

In [ ]:
df_info = cl_dist.regroup_interest_sites("Paris", ['outdoor_activity', "museum"]).set_index("name")

In [ ]:
int(2.5) + 1

In [ ]:
df["photo_ref"][0]

In [ ]:
df = pd.read_csv(util.get_dump_filename("Paris", "museum", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

In [ ]:
df = pd.read_csv(util.get_dump_filename("Paris", "outdoor_activity", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

In [ ]:
df[["x", "y"]]

In [ ]:
gmaps_place = googlemaps.Client(APIKeys.place)
place = gmaps_place.place('ChIJD3uTd9hx5kcR1IQvGfr8dbk')

In [ ]:
place

In [ ]:
location_paris = (48.852737, 2.350699)
places_paris = gmaps_place.places('gallery', location=location_paris, radius=1000)

In [ ]:
sorted(places_paris['results'], key=lambda p: p.get('rating', 1), reverse=True)

In [ ]:
places_paris["results"]

In [ ]:
len(places_paris['results'])

In [ ]:
import operator
sorted_places = sorted(places_paris['results'], key=operator.itemgetter('rating'), reverse=True)

In [ ]:
def get_coord(info):
    xy = info['geometry']['location']
    return xy['lat'], xy["lng"]

coords = map(get_coord, sorted_places[:5])

In [ ]:
coords = df[["x", "y"]].values[:4]

In [ ]:
filename = util.get_dump_filename("dist-Paris", "outdoor_activity-museum", "csv")

In [ ]:
df.T.to_csv(filename)

In [ ]:
df = pd.read_csv("../dist_matrix.csv", index_col=0)
df

In [ ]:
df.T

In [ ]:
dist_client = googlemaps.Client(APIKeys.distance)

In [ ]:
dist_matrix = dist_client.distance_matrix(coords, coords, mode="transit")

In [ ]:
dist_matrix[u'destination_addresses']

In [ ]:
dist_matrix['rows'][0]['elements']

In [ ]:
result = []
for i, row in enumerate(dist_matrix["rows"]):
    res = []
    for j, element in enumerate(row['elements']):
        if i == j:
            res0 = 0
        else:
            res0 = element["duration"]["value"]
        res.append(res0)
    result.append(res)

In [ ]:
result

In [ ]:
details