In [45]:
import googlemaps
import pandas as pd
import numpy as np
from datetime import datetime
import util
import distance_mat as dm

In [46]:
city = "Paris"
interest_list = ['outdoor_activity', "museum"]
cl_dist = dm.DistanceClient()

In [47]:
df = cl_dist.get_distance_matrix(city, interest_list)
filename = util.get_dump_filename('plan-' + city, "-".join(interest_list), ext="csv")

In [52]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,753.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1370.0,1372.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1058.0,1918.0,1454.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,964.0,1713.0,702.0,1433.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,979.0,1641.0,947.0,640.0,1388.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,705.0,994.0,1203.0,879.0,1258.0,428.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1009.0,989.0,623.0,1207.0,977.0,792.0,1044.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,452.0,630.0,1470.0,1388.0,1222.0,1177.0,753.0,865.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
9,985.0,1617.0,1245.0,670.0,1289.0,288.0,823.0,1041.0,1144.0,0.0,NaN,NaN,NaN,NaN,NaN
10,1098.0,1337.0,448.0,1193.0,722.0,707.0,948.0,630.0,1657.0,1005.0,0.0,NaN,NaN,NaN,NaN
11,1260.0,1398.0,717.0,1631.0,734.0,1317.0,1450.0,612.0,1406.0,1495.0,859.0,0.0,NaN,NaN,NaN
12,827.0,1515.0,1688.0,1189.0,1380.0,1231.0,657.0,1316.0,937.0,1522.0,1442.0,1574.0,0.0,NaN,NaN
13,1109.0,1592.0,1950.0,786.0,1702.0,1212.0,838.0,1413.0,1259.0,1290.0,1418.0,1896.0,526.0,0.0,NaN
14,864.0,140.0,1377.0,1904.0,1489.0,967.0,897.0,899.0,720.0,1140.0,1243.0,1287.0,1505.0,1614.0,0.0

In [53]:
df0 = pd.read_csv(filename)
df0[["name", "day_plan"]]

                                              name  day_plan
0                                    Louvre Museum         0
1                                    Musée d'Orsay         1
2                     Musée Curie - Institut Curie         2
3                               Metiers Art Museum         3
4               National Museum of Natural History         1
5                              The Centre Pompidou         3
6                    Bibliothèque-musée de l'Opéra         4
7   Cluny Museum - National Museum of Medieval Art         5
8                        Museum of Decorative Arts         0
9             Museum of Art and History of Judaism         3
10              Museum of Minerals MINES ParisTech         2
11                            Arab World Institute         5
12                           Museum of Freemasonry         4
13                               Adrenaline Hunter         4
14                                     Outdoor Gym         1

In [29]:
df1 = df + np.eye(len(df)) * cl_dist.max_transit_time

In [31]:
for i in range(len(df)):
    df1.iloc[i, i + 1:] = df.iloc[i + 1:, i].values

In [44]:
series =df1.idxmin()
series.index = series.index.astype(int)
series

0      8
1     14
2     10
3      5
4      2
5      9
6      5
7     11
8      0
9      5
10     2
11     7
12    13
13    12
14     1
dtype: int64

In [30]:
df.iloc[5:, 4]

5     1388.0
6     1258.0
7      977.0
8     1222.0
9     1289.0
10     722.0
11     734.0
12    1380.0
13    1702.0
14    1489.0
Name: 4, dtype: float64

In [ ]:
df_info = cl_dist.regroup_interest_sites("Paris", ['outdoor_activity', "museum"]).set_index("name")

In [21]:
int(2.5) + 1

3

In [ ]:
df["photo_ref"][0]

In [ ]:
df = pd.read_csv(util.get_dump_filename("Paris", "museum", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

In [ ]:
df = pd.read_csv(util.get_dump_filename("Paris", "outdoor_activity", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

In [ ]:
df[["x", "y"]]

In [ ]:
gmaps_place = googlemaps.Client(APIKeys.place)
place = gmaps_place.place('ChIJD3uTd9hx5kcR1IQvGfr8dbk')

In [ ]:
place

In [ ]:
location_paris = (48.852737, 2.350699)
places_paris = gmaps_place.places('gallery', location=location_paris, radius=1000)

In [ ]:
sorted(places_paris['results'], key=lambda p: p.get('rating', 1), reverse=True)

In [ ]:
places_paris["results"]

In [ ]:
len(places_paris['results'])

In [ ]:
import operator
sorted_places = sorted(places_paris['results'], key=operator.itemgetter('rating'), reverse=True)

In [ ]:
def get_coord(info):
    xy = info['geometry']['location']
    return xy['lat'], xy["lng"]

coords = map(get_coord, sorted_places[:5])

In [ ]:
coords = df[["x", "y"]].values[:4]

In [ ]:
filename = util.get_dump_filename("dist-Paris", "outdoor_activity-museum", "csv")

In [ ]:
df.T.to_csv(filename)

In [ ]:
df = pd.read_csv("../dist_matrix.csv", index_col=0)
df

In [ ]:
df.T

In [ ]:
dist_client = googlemaps.Client(APIKeys.distance)

In [ ]:
dist_matrix = dist_client.distance_matrix(coords, coords, mode="transit")

In [ ]:
dist_matrix[u'destination_addresses']

In [ ]:
dist_matrix['rows'][0]['elements']

In [ ]:
result = []
for i, row in enumerate(dist_matrix["rows"]):
    res = []
    for j, element in enumerate(row['elements']):
        if i == j:
            res0 = 0
        else:
            res0 = element["duration"]["value"]
        res.append(res0)
    result.append(res)

In [ ]:
result

In [ ]:
details