In [47]:
import googlemaps
import pandas as pd
from datetime import datetime
import util

In [45]:
df = pd.read_csv("../dist_matrix.csv", index_col=0)

In [46]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,NaN,753.0,1355.0,2059.0,1788.0,979.0,1224.0,594489.0,304443.0,353283.0,370903.0,219411.0,406886.0,206456
1,NaN,NaN,2183.0,2375.0,2030.0,1733.0,1357.0,594300.0,304254.0,353094.0,370714.0,219222.0,406697.0,206267
2,NaN,NaN,NaN,2340.0,2281.0,640.0,1668.0,594844.0,304797.0,353638.0,371258.0,219766.0,407240.0,206810
3,NaN,NaN,NaN,NaN,807.0,1816.0,3240.0,596506.0,306459.0,355300.0,372920.0,221428.0,408902.0,208472
4,NaN,NaN,NaN,NaN,NaN,1621.0,2907.0,596130.0,306083.0,354924.0,372544.0,221052.0,408526.0,208096
5,NaN,NaN,NaN,NaN,NaN,NaN,1855.0,595140.0,305093.0,353934.0,371554.0,220061.0,407536.0,207106
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,593426.0,303379.0,352220.0,369840.0,218348.0,405822.0,205392
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,312694.0,370872.0,387186.0,377592.0,345518.0,421487
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,179520.0,79745.0,84155.0,219407.0,151833
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255478.0,188850.0,54171.0,152049
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,151862.0,295233.0,225913
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,238200.0,93483
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,204341

In [48]:
df = pd.read_csv("../output/Paris_outdoor_activity.csv", index_col=0)

In [49]:
df

,rating,photo_ref,place_types,y,x,id
name,,,,,,
Adrenaline Hunter,3.0,CmRaAAAAslIoPDwO0XwYFQweyEKWfNgDHF9_H8Pn8-NSZ6...,point_of_interest|establishment,2.347796,48.871429,ChIJ3wzT2RVu5kcRJBRJhpyOTt4
Aldridge Airport Outdoor Activity and Environmental Learning Centre,4.1,CmRaAAAARPpNA6aUeZFSpSpJG5mPA4NYt_tGcbqg2BlXY1...,point_of_interest|establishment,-1.933268,52.593453,ChIJ03M_LdKjcEgR44-CMYHCfaQ
Blackwater Outdoor Activities,5.0,CmRaAAAAwUOPQvoQMB1Uep2okuXg91LCDSZTVWn3w6KbcF...,travel_agency|point_of_interest|establishment,-8.390959,52.151381,ChIJeyV36EakREgRi1nS0mG7qBQ
Charterhouse Outdoor Activity Centre,5.0,NaN,point_of_interest|establishment,-2.715731,51.298730,ChIJQyU1GMYfckgRYUhvWbCZdKQ
Dumfries & Galloway Council Outdoor Activities,2.5,NaN,point_of_interest|establishment,-3.928295,54.934437,ChIJY96QYvHCYkgR3na0D7VviWw
East Barnby Outdoor Education Centre,4.6,CmRaAAAAy3QQ3sSTz76PncXVykF4enpjf0ozjKD-V9iLqc...,point_of_interest|establishment,-0.721371,54.505249,ChIJ9_19lEUZf0gRh4TKTg-cMdY
Fairlop Outdoor Activity Centre,2.5,CmRaAAAARmC-301K6Ux-tb_WJteoZFminLAyFgROZwg4JL...,point_of_interest|establishment,0.097424,51.594766,ChIJkeNlqvij2EcRi9n9_HOVyBY
Hatfield Outdoor Activity Centre,3.7,CmRaAAAA02Sa7X82pv6d6_nvOXY6jkWKwYMJQSjVurlOMV...,amusement_park|point_of_interest|establishment,-0.990861,53.582506,ChIJi5rcQeoaeUgReDHCxK7KSlw
Hillingdon Outdoor Activities Centre,4.3,CmRaAAAAlEnkjnE1kzb6kBloAJN3oLXj5GxLVp42O2tWiJ...,point_of_interest|establishment,-0.479186,51.579208,ChIJm63koaFudkgRVyRWv9w_XpI
Lochgoilhead National Activity Centre,4.5,CmRaAAAA5bpL6a0vYFHYlxCxB4mADq4DyOB7SGQiW-2Zqn...,point_of_interest|establishment,-4.899916,56.171725,ChIJ5934HpUIiUgRvxulHMVmtKU
Outdoor Adventure,4.4,CmRaAAAAklBkozv7DfX5xKAA8EMEelfDU8JhxXHWVItCac...,point_of_interest|establishment,-4.562118,50.780350,ChIJ_9nS4Lx3bEgRL6KU2Se1-SQ
Outdoor Gym,2.5,CmRaAAAAFO2XlMtPZIwMTMqzjFPG4i5M2moEy3-gfryWei...,gym|health|point_of_interest|establishment,2.324969,48.861072,ChIJIX3FeStu5kcR14OLp7LiCfM
Paintball at the Outdoor Activity Centre,2.5,CmRaAAAAtToFj21ZsxF4mixuvRJH0JEJvRUBXs9rPXqsk2...,point_of_interest|establishment,-1.047026,53.166177,ChIJk4vOKKu7eUgR8x1yxJIUZqQ
Shadwell Basin Outdoor Activity Centre,4.7,CmRaAAAACsizDRmeUDp9NtzlsZxxRmYsDronKKOorQ_3tL...,point_of_interest|establishment,-0.050458,51.508335,ChIJG3FoCykDdkgREG84TncRsHM
Teamplay Outdoor Activities,2.5,CmRaAAAAvwKgvgLOh8ND6NRqzYffQgG4mMl_shAGoOQuIE...,point_of_interest|establishment,-1.567313,53.095443,ChIJuWOwmkuKeUgRlJAsJlfSl9c
The Beacon Outdoor Activity Centre,5.0,NaN,point_of_interest|establishment,-3.864555,51.227705,ChIJ0411EjMrbEgROmiuOHjwIio
Twin Peaks Outdoor Activities,5.0,CmRaAAAAmr0h70czDHK2tAfJyeYLfPBqZMhPnZ4cdsS-y6...,point_of_interest|establishment,-1.199647,52.977514,ChIJt70JmN_BeUgRBN8SUHdV-jE
Underbank Outdoor Activity Centre,4.8,CmRaAAAA2YqjfiTtJS3SLUNR0DWLdVhiGa5Rr4GLpZ6SJk...,point_of_interest|establishment,-1.630706,53.489507,ChIJIYh4j-59eUgRJltu-t7iVJc
Windermere Outdoor Adventure Centre,4.4,CmRaAAAAIYTB7c6vagHsdRECby_7f1Tfj9waEkO-utITwA...,travel_agency|point_of_interest|establishment,-2.919570,54.377753,ChIJ09mD5cGUfEgR3uJQMmszc8w
Woodmill Outdoor Activities Centre,4.9,CmRaAAAAXAHzkoqoWw1iK059L6x6hYKXKpUycS4aeAQTGp...,point_of_interest|establishment,-1.376400,50.934739,ChIJMYKblOlzdEgREZQMAMnBwgQ

In [8]:
df["photo_ref"][0]

'CmRaAAAAretmmx5Z4SwGjRWqI4P-boRFrzF9dVz0FU2LsrZXKa2jmVDNLiX11kgeIN6ahrSRoRc3UX6Bb5nCey83SFOKRLCvRfp8H03R231v_7SjzheSGwAIiSP6gXaAquWUVDOXEhD4WeHoxx4i4iIrARJvFtFAGhSRGnRYJLEmZKKgqXB4BHXLZWozKQ'

In [51]:
df = pd.read_csv(util.get_dump_filename("Paris", "museum", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

,rating,place_types,y,x,id
name,,,,,
Louvre Museum,4.7,museum,2.337644,48.860611,ChIJD3uTd9hx5kcR1IQvGfr8dbk
Musée d'Orsay,4.7,museum,2.326561,48.859961,ChIJG5Qwtitu5kcR2CNEsYy9cdA
Musée Curie - Institut Curie,4.5,museum,2.344828,48.844223,ChIJjU2KN-hx5kcR3wlTp_OOrXA
Metiers Art Museum,4.5,museum,2.355438,48.866639,ChIJNUTIphpu5kcR4h07VuxFIHc
National Museum of Natural History,4.5,museum,2.356210,48.844342,ChIJEURALfFx5kcR4cbxSSHWQ0c
The Centre Pompidou,4.4,museum,2.352245,48.860642,ChIJoyC4CRxu5kcRRTPcWX5srLc
Bibliothèque-musée de l'Opéra,4.4,museum,2.331714,48.872005,ChIJ5S5QKjFu5kcRx5gcUAcDn34
Cluny Museum - National Museum of Medieval Art,4.4,museum,2.344081,48.850483,ChIJLxPh9d1x5kcRf7M1U0pu1gU
Museum of Decorative Arts,4.4,museum,2.333395,48.863063,ChIJ_QwlZC9u5kcRi6OALXVubvc
Museum of Minerals MINES ParisTech,4.3,museum,2.339402,48.845119,ChIJd104OsNx5kcRqW8-Crk_dKk
Museum of Art and History of Judaism,4.3,museum,2.355611,48.861010,ChIJydDIqRxu5kcRqB6W-MQwcYU
Arab World Institute,4.2,museum|library,2.357231,48.848926,ChIJK-03I_tx5kcRdA4Cj8VV1b4
Museum of Freemasonry,4.2,museum,2.343150,48.874884,ChIJ5WeFCj9u5kcR7-yd40IpLKY
Musée du Luxembourg,4.2,museum,2.334057,48.848438,ChIJLxJL9dpx5kcR927ocHiDVgI
Musée Grévin,4.1,museum,2.342220,48.871838,ChIJVUrgmz5u5kcRWPSN-T8a730
Musée National Eugène Delacroix,4.1,museum,2.335583,48.854456,ChIJrZP7V9hx5kcRQlLc0kYQo44
Picasso National Museum,4.1,museum,2.362285,48.859878,ChIJS2t0QgFu5kcR92388prakcE
Museum of the History of Medicine,4.0,museum,2.340761,48.851251,ChIJgerDKdxx5kcRC6a8bQCNWBo
Adam Mickiewicz Museum,4.0,museum,2.355627,48.851378,ChIJzUK0rvxx5kcRz3yZX9CdtNY
Museum of Magic,3.8,museum,2.361160,48.853154,ChIJjRsmgv5x5kcR6yiewFFd1wk

In [52]:
df = pd.read_csv(util.get_dump_filename("Paris", "outdoor_activity", "csv"), index_col=0)
df.drop(["photo_ref"], 1).sort_values("rating", ascending=False)

,rating,place_types,y,x,id
name,,,,,
Blackwater Outdoor Activities,5.0,travel_agency,-8.390959,52.151381,ChIJeyV36EakREgRi1nS0mG7qBQ
Charterhouse Outdoor Activity Centre,5.0,NaN,-2.715731,51.298730,ChIJQyU1GMYfckgRYUhvWbCZdKQ
Twin Peaks Outdoor Activities,5.0,NaN,-1.199647,52.977514,ChIJt70JmN_BeUgRBN8SUHdV-jE
The Beacon Outdoor Activity Centre,5.0,NaN,-3.864555,51.227705,ChIJ0411EjMrbEgROmiuOHjwIio
Woodmill Outdoor Activities Centre,4.9,NaN,-1.376400,50.934739,ChIJMYKblOlzdEgREZQMAMnBwgQ
Underbank Outdoor Activity Centre,4.8,NaN,-1.630706,53.489507,ChIJIYh4j-59eUgRJltu-t7iVJc
Shadwell Basin Outdoor Activity Centre,4.7,NaN,-0.050458,51.508335,ChIJG3FoCykDdkgREG84TncRsHM
East Barnby Outdoor Education Centre,4.6,NaN,-0.721371,54.505249,ChIJ9_19lEUZf0gRh4TKTg-cMdY
Lochgoilhead National Activity Centre,4.5,NaN,-4.899916,56.171725,ChIJ5934HpUIiUgRvxulHMVmtKU
Windermere Outdoor Adventure Centre,4.4,travel_agency,-2.919570,54.377753,ChIJ09mD5cGUfEgR3uJQMmszc8w
Outdoor Adventure,4.4,NaN,-4.562118,50.780350,ChIJ_9nS4Lx3bEgRL6KU2Se1-SQ
Hillingdon Outdoor Activities Centre,4.3,NaN,-0.479186,51.579208,ChIJm63koaFudkgRVyRWv9w_XpI
Aldridge Airport Outdoor Activity and Environmental Learning Centre,4.1,NaN,-1.933268,52.593453,ChIJ03M_LdKjcEgR44-CMYHCfaQ
Hatfield Outdoor Activity Centre,3.7,amusement_park,-0.990861,53.582506,ChIJi5rcQeoaeUgReDHCxK7KSlw
Adrenaline Hunter,3.0,NaN,2.347796,48.871429,ChIJ3wzT2RVu5kcRJBRJhpyOTt4
Outdoor Gym,2.5,gym|health,2.324969,48.861072,ChIJIX3FeStu5kcR14OLp7LiCfM
Paintball at the Outdoor Activity Centre,2.5,NaN,-1.047026,53.166177,ChIJk4vOKKu7eUgR8x1yxJIUZqQ
Teamplay Outdoor Activities,2.5,NaN,-1.567313,53.095443,ChIJuWOwmkuKeUgRlJAsJlfSl9c
Fairlop Outdoor Activity Centre,2.5,NaN,0.097424,51.594766,ChIJkeNlqvij2EcRi9n9_HOVyBY
Dumfries & Galloway Council Outdoor Activities,2.5,NaN,-3.928295,54.934437,ChIJY96QYvHCYkgR3na0D7VviWw

In [11]:
df[["x", "y"]]

                                                        x         y
name
Adam Mickiewicz Museum                          48.851378  2.355627
Arab World Institute                            48.848926  2.357231
Bibliothèque-musée de l'Opéra                   48.872005  2.331714
Choco-Story Paris - Musée du Chocolat           48.870618  2.350098
Cluny Museum - National Museum of Medieval Art  48.850483  2.344081
Louvre Museum                                   48.860611  2.337644
Metiers Art Museum                              48.866639  2.355438
Museum of Art and History of Judaism            48.861010  2.355611
Museum of Decorative Arts                       48.863063  2.333395
Museum of Freemasonry                           48.874884  2.343150
Museum of Magic                                 48.853154  2.361160
Museum of Minerals MINES ParisTech              48.845119  2.339402
Museum of the History of Medicine               48.851251  2.340761
Musée Curie - Institut Curie                    48.844223  2.344828
Musée Grévin                                    48.871838  2.342220
Musée d'Orsay                                   48.859961  2.326561
Musée du Luxembourg                             48.848438  2.334057
National Museum of Natural History              48.844342  2.356210
Picasso National Museum                         48.859878  2.362285
The Centre Pompidou                             48.860642  2.352245

In [39]:
gmaps_place = googlemaps.Client(APIKeys.place)
place = gmaps_place.place('ChIJD3uTd9hx5kcR1IQvGfr8dbk')

In [40]:
place

{u'html_attributions': [],
 u'result': {u'address_components': [{u'long_name': u'Rue de Rivoli',
    u'short_name': u'Rue de Rivoli',
    u'types': [u'route']},
   {u'long_name': u'Paris',
    u'short_name': u'Paris',
    u'types': [u'locality', u'political']},
   {u'long_name': u'Paris',
    u'short_name': u'Paris',
    u'types': [u'administrative_area_level_2', u'political']},
   {u'long_name': u'\xcele-de-France',
    u'short_name': u'\xcele-de-France',
    u'types': [u'administrative_area_level_1', u'political']},
   {u'long_name': u'France',
    u'short_name': u'FR',
    u'types': [u'country', u'political']},
   {u'long_name': u'75001',
    u'short_name': u'75001',
    u'types': [u'postal_code']}],
  u'adr_address': u'<span class="street-address">Rue de Rivoli</span>, <span class="postal-code">75001</span> <span class="locality">Paris</span>, <span class="country-name">France</span>',
  u'formatted_address': u'Rue de Rivoli, 75001 Paris, France',
  u'formatted_phone_number': u'01 40 20 50 50',
  u'geometry': {u'location': {u'lat': 48.8606111, u'lng': 2.337644},
   u'viewport': {u'northeast': {u'lat': 48.86313575, u'lng': 2.3391953},
    u'southwest': {u'lat': 48.85976955, u'lng': 2.3329901}}},
  u'icon': u'https://maps.gstatic.com/mapfiles/place_api/icons/museum-71.png',
  u'id': u'9a007d81ca8f47ed30ddaf39c4174ef773b351e0',
  u'international_phone_number': u'+33 1 40 20 50 50',
  u'name': u'Louvre Museum',
  u'opening_hours': {u'open_now': False,
   u'periods': [{u'close': {u'day': 0, u'time': u'1800'},
     u'open': {u'day': 0, u'time': u'0900'}},
    {u'close': {u'day': 1, u'time': u'1800'},
     u'open': {u'day': 1, u'time': u'0900'}},
    {u'close': {u'day': 3, u'time': u'2200'},
     u'open': {u'day': 3, u'time': u'0900'}},
    {u'close': {u'day': 4, u'time': u'1800'},
     u'open': {u'day': 4, u'time': u'0900'}},
    {u'close': {u'day': 5, u'time': u'2200'},
     u'open': {u'day': 5, u'time': u'0900'}},
    {u'close': {u'day': 6, u'time': u'1800'},
     u'open': {u'day': 6, u'time': u'0900'}}],
   u'weekday_text': [u'Monday: 9:00 AM \u2013 6:00 PM',
    u'Tuesday: Closed',
    u'Wednesday: 9:00 AM \u2013 10:00 PM',
    u'Thursday: 9:00 AM \u2013 6:00 PM',
    u'Friday: 9:00 AM \u2013 10:00 PM',
    u'Saturday: 9:00 AM \u2013 6:00 PM',
    u'Sunday: 9:00 AM \u2013 6:00 PM']},
  u'photos': [{u'height': 2848,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/109983477559905217030/photos">Christophe Jacquet</a>'],
    u'photo_reference': u'CmRaAAAAtlwvP9kamw4cEl_uVbGprMC1HG_9i4bRohz1NCYtjM2Tmd2CSwd0LFUop7ye5SwOVMQPSLaoXc_HHjr-irqqALyWKdPYh9-Zn8unShp1tJnI8xQLtH_pSgAhS293xo15EhAYOFspbDYpS6pON8BlWIp7GhS7i20bL-s5qS8wxeodDjLLxpX2_g',
    u'width': 4288},
   {u'height': 2848,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/110082485112638612567/photos">Francisco Javier Segado Fraile</a>'],
    u'photo_reference': u'CmRaAAAAqBX9__adu9THCS1v_e9vw2katEKkyymJ4ccXOG6Coh3IN3gQ3OtSxfebTksD-FX-4kItdzIM-_5QWTm5WkYA7YhMJ8Tqq-cIeT2nBqzlA8XY-4pzNrdcxGh5ilhRIsFAEhBGFh2N41g4JxbkXn3fFPOSGhQlUcFcIx_M2ZIPejB0Gg3MNjzZbg',
    u'width': 4288},
   {u'height': 1361,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/111074763066230003528/photos">Ji\u0159\xed Jen\xedkovsk\xfd</a>'],
    u'photo_reference': u'CmRaAAAASP2MQmk0mcDSFr9-LBCMll_Fb1pRdoPiGgund0FQZMGiZ1loYPsJXUsIK70BO1vZivL3xOxpvXIpsRU17PwSzF_No1xRh0NjwPLhSgAr_9ai9pKRoOXd9ICf73sgb46kEhC52ZRboZhV3hhZx3Gj6Gs9GhRLcReUoKMNOhJKEF_W4yM49OiZnA',
    u'width': 2048},
   {u'height': 2160,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/107910886029667932231/photos">Violet Boris</a>'],
    u'photo_reference': u'CmRaAAAA5kKCWPVLGNC_VHay2CMsr23deDdiWbaT-1zuVtmRLcsqyJd92KawM9CaXFSydPeYMcYzsYkRWmgqqCqtHOnFEdYVL58qeuL6dw-wmWl7nN-HhOx9BOYNW6lKz0ia-aHrEhDyRSebfcgS6xoXOdJLCHe2GhSb3BVAl8TmswF0jmko0lvxuCfn5A',
    u'width': 3840},
   {u'height': 1600,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/116194269442789168223/photos">Anna Keesman-Gala</a>'],
    u'photo_reference': u'CmRaAAAASEukl-pLtdsbsf1L2Empj7-tufhCzbunQKq6SgDSTSMBG-vWwIU3ENJQG1hBl-kVUHsMg0OEyZ7viw9s8XlMIrX81C-zeLgp9clYokFte-VliTdOYBDulbEK1dwUz3eUEhAfl_ktAvWP7Hp6YeyKEJPVGhQnqr0CckKXzAZ59MVAir0ckBKNRA',
    u'width': 1200},
   {u'height': 1504,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/110843797283160291350/photos">Oskar Strazinger</a>'],
    u'photo_reference': u'CmRaAAAA5I2B8Yz9Gl1l0U-8NAEC3UTLfKSeLqYWIjYDRom2easQbBbg9OKBdRhKYdjaGpWN1Y2dXxQ68soz-yvc52P0YTgYefbnyrtUVbud5XBajR1qi4whkv4IPMGgBUumnoLFEhBlDmh_6wTAtr3ApTUfIN4TGhSSGyeoFeqHJljRvEkkIaSvd6Ripw',
    u'width': 2256},
   {u'height': 2000,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/108674630721144075380/photos">Iva Jasperson</a>'],
    u'photo_reference': u'CmRaAAAAmVLeMvBTvrnW6Qu40_57EjJOnEaw8jJB9VYMk2E7-PrekQxLzus26s77ZskdnZfKL0YfaUU7c9cNJ1RPvoQ6SA0DJeIctNj74RldN3CGsJ0Rmho3KzGBWpyKChnryuUoEhDg3E4osiB4CTLlKAfZQPFBGhTYOJ97pQDLKuTmwwklxUHsXgWk6g',
    u'width': 3008},
   {u'height': 3480,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/107162993305909069490/photos">Mayank Pandey</a>'],
    u'photo_reference': u'CmRZAAAATPQxSunRQAWwCn541DHWVx6xW5Uf1kuglyJ7w_GERvxA1FrTzEqQi1I47IvolJebFwBkeXp8epmExj63EqRxL-9760ABge1iGUtlRQh0Pz_LUOYeBZGDM2YJnVowQDXpEhCSt1mUYw0bvE-e9VNvLka2GhQFxzmTUhdJwj5cQkWCsXsMph07Rg',
    u'width': 4640},
   {u'height': 2592,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/104868966049901872185/photos">Patricio Martin</a>'],
    u'photo_reference': u'CmRaAAAAg76iZoFeIgPw7qG1nw26F4SUw5Kl8UYsRl96UtLzKdj0Taybjy4tkt6PTM00UbIbe7m2rJiucjL8H4iHn-3HB1Vuu3XkeKw854akzrvrDJG4b1T-hdt_Cf0qa7PAegtBEhBbQL1RrzHfuGnFX2zrFVD1GhSxXhGujvUtQusRQb7u-Dw6pAvdFA',
    u'width': 3872},
   {u'height': 1952,
    u'html_attributions': [u'<a href="https://maps.google.com/maps/contrib/112669802487843114885/photos">Ant\xf3nio Ad\xe3o Branco</a>'],
    u'photo_reference': u'CmRaAAAAYsNSYhnoGrYdoOu12mpChQjEIvFFh5o-C59_TtvZ4EOuPdZJKIxgCEVAAOZpMFq2JJDxETcDL4Tq10VRAprXJ3T_RZEnx8_CN9wlAi2_MfmtzV3SfMLkGgC4-XSZNVV3EhAOnpgzQgTBkzEUbHeWI998GhQuOtXKdVwDlWF5XjvzPqZPfIPgnQ',
    u'width': 3264}],
  u'place_id': u'ChIJD3uTd9hx5kcR1IQvGfr8dbk',
  u'price_level': 2,
  u'rating': 4.6,
  u'reference': u'CmRSAAAAIpxqJbsIGB-ZxfMUvu3D3DVzDcw9PlM1sLV9tR8O1ox-6kthYzKFNaEivoNBeJWCUYVTDDOxPRo1SSKgyZY68K3tFEqv2K2x5WHWRG1ZOjn3c2EeElILS8XOOzeRA6loEhBlNwrSIk382SYMdGVBQz9RGhR30_KlGytq7verPAdcHepAEHsjOw',
  u'reviews': [{u'author_name': u'Austin Phillips',
    u'author_url': u'https://www.google.com/maps/contrib/112473889399100789421/reviews',
    u'language': u'en',
    u'profile_photo_url': u'https://lh5.googleusercontent.com/-L6pJcIEo3No/AAAAAAAAAAI/AAAAAAAAEoY/x2TGg1ribDY/s128-c0x00000000-cc-rp-mo-ba4/photo.jpg',
    u'rating': 5,
    u'relative_time_description': u'in the last week',
    u'text': u"World's largest museum should tell you that this thing is HUGE! I wish I had 3 whole days to go through it.. I think it would take around that long to see and read everything. \nWill definitely be back. \n\nLayout is really cool and goes by time periods or different areas. Paints, art, and artifacts are amazing. I loved the Egyptian area. The Mona Lisa is crazy busy! The people around it has forced the ropes far away just because of the sheer amount of people wishing to photograph. \nArchitecture and the pyramid outside are amazing. Very beautiful and enormous building. \n\nLines are very busy and prices were a lot. There is a stop on the metro for the Louvre, so it might be easier to park somewhere else and take the metro to here (that's what we did). ",
    u'time': 1500901488},
   {u'author_name': u'Bill Jones',
    u'author_url': u'https://www.google.com/maps/contrib/111255223533778832388/reviews',
    u'language': u'en',
    u'profile_photo_url': u'https://lh6.googleusercontent.com/-lhovO43U4bI/AAAAAAAAAAI/AAAAAAAAADM/sn2KPwaT6cU/s128-c0x00000000-cc-rp-mo-ba4/photo.jpg',
    u'rating': 5,
    u'relative_time_description': u'a week ago',
    u'text': u"World-class art museum with plenty of big-name works. There also are some really cool sculptures in the Americas area. Make sure to look up and check out the ceilings, too. There is enough here for art-lovers to spend several days, or if you want to hit the big things and then browse a bit, it's good for a half-day visit. Lines may look long but move fairly quickly. We went without tickets in advance and it still did not take too long to get inside.",
    u'time': 1499783640},
   {u'author_name': u'Rodrigo Bastias',
    u'author_url': u'https://www.google.com/maps/contrib/106253463810087259647/reviews',
    u'language': u'en',
    u'profile_photo_url': u'https://lh3.googleusercontent.com/-IR9hl9lxov8/AAAAAAAAAAI/AAAAAAAAAF8/ddbZA-pGWTs/s128-c0x00000000-cc-rp-mo-ba6/photo.jpg',
    u'rating': 1,
    u'relative_time_description': u'in the last week',
    u'text': u"While I was traveling in Europe for the 'Map Your World Week' Google #LocalGuides (ask for more info if interested). In my second time in Paris and I keep loving to visit this museum. However their Customer Service has decreasing in its quality in less than 2 years. Staff are not friendly and in the border to be rude. If you are not prepared to work in the Hospitality Industry, then do not do it! - the quantity of visitors per day can not affect the quality of the service that they must provide.",
    u'time': 1500800641},
   {u'author_name': u'Lynn Reid',
    u'author_url': u'https://www.google.com/maps/contrib/117813791406818078284/reviews',
    u'language': u'en',
    u'profile_photo_url': u'https://lh6.googleusercontent.com/-xf3wTM49WRQ/AAAAAAAAAAI/AAAAAAAAAAA/AMp5VUrz-jUyEHfbqsXrYxDnV9KrDSx3dA/s128-c0x00000000-cc-rp-mo-ba4/photo.jpg',
    u'rating': 4,
    u'relative_time_description': u'a week ago',
    u'text': u"The museum was beautiful, unfortunately there's very little air conditioning in this establishment. There are portions within the museum that are downright hot. As an American museums and where you expect to go to be cool. There are several floors and rooms full of beautiful artwork. My granddaughter and I have taken the quintessential picture with the Mona Lisa. It looks just like it did in the movies.",
    u'time': 1500094035},
   {u'author_name': u'Karolina Nowak',
    u'author_url': u'https://www.google.com/maps/contrib/117894933427222362259/reviews',
    u'language': u'en',
    u'profile_photo_url': u'https://lh3.googleusercontent.com/-SKYupNvOgls/AAAAAAAAAAI/AAAAAAAAJJM/l-Uhbbx3_iw/s128-c0x00000000-cc-rp-mo-ba3/photo.jpg',
    u'rating': 5,
    u'relative_time_description': u'in the last week',
    u'text': u'Wonderful museum with so much to see! Beautiful exhibits of paintings, sculptures, history. I enjoyed the ancient egyptian exhibit very much. This is a popular spot. I recommend buying tickets beforehand as the line will be shorter. Be prepared to spend about 3 hours here - it is a large museum with many exhibits. Also check for any exhibit closings before visiting; during our visit the Islamic art section was unfortunately closed. ',
    u'time': 1500394843}],
  u'scope': u'GOOGLE',
  u'types': [u'museum', u'point_of_interest', u'establishment'],
  u'url': u'https://maps.google.com/?cid=13363865620386383060',
  u'utc_offset': 120,
  u'vicinity': u'Rue de Rivoli, Paris',
  u'website': u'http://www.louvre.fr/'},
 u'status': u'OK'}

In [ ]:
location_paris = (48.852737, 2.350699)
places_paris = gmaps_place.places('gallery', location=location_paris, radius=1000)

In [ ]:
sorted(places_paris['results'], key=lambda p: p.get('rating', 1), reverse=True)

In [ ]:
places_paris["results"]

In [ ]:
len(places_paris['results'])

In [ ]:
import operator
sorted_places = sorted(places_paris['results'], key=operator.itemgetter('rating'), reverse=True)

In [ ]:
def get_coord(info):
    xy = info['geometry']['location']
    return xy['lat'], xy["lng"]

coords = map(get_coord, sorted_places[:5])

In [54]:
coords = df[["x", "y"]].values[:4]

In [62]:
filename = util.get_dump_filename("dist-Paris", "outdoor_activity-museum", "csv")

In [66]:
df.T.to_csv(filename)

In [64]:
df = pd.read_csv("../dist_matrix.csv", index_col=0)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,753.0,1370.0,1058.0,964.0,979.0,705.0,1009.0,452.0,985.0,1098.0,1260.0,827.0,1109.0,864.0
1,NaN,0.0,1372.0,1918.0,1713.0,1641.0,994.0,989.0,630.0,1617.0,1337.0,1398.0,1515.0,1592.0,140.0
2,NaN,NaN,0.0,1454.0,702.0,947.0,1203.0,623.0,1470.0,1245.0,448.0,717.0,1688.0,1950.0,1377.0
3,NaN,NaN,NaN,0.0,1433.0,640.0,879.0,1207.0,1388.0,670.0,1193.0,1631.0,1189.0,786.0,1904.0
4,NaN,NaN,NaN,NaN,0.0,1388.0,1258.0,977.0,1222.0,1289.0,722.0,734.0,1380.0,1702.0,1489.0
5,NaN,NaN,NaN,NaN,NaN,0.0,428.0,792.0,1177.0,288.0,707.0,1317.0,1231.0,1212.0,967.0
6,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1044.0,753.0,823.0,948.0,1450.0,657.0,838.0,897.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,865.0,1041.0,630.0,612.0,1316.0,1413.0,899.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1144.0,1657.0,1406.0,937.0,1259.0,720.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1005.0,1495.0,1522.0,1290.0,1140.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,859.0,1442.0,1418.0,1243.0
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1574.0,1896.0,1287.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,526.0,1505.0
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1614.0

In [65]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,753.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1370.0,1372.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1058.0,1918.0,1454.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,964.0,1713.0,702.0,1433.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,979.0,1641.0,947.0,640.0,1388.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,705.0,994.0,1203.0,879.0,1258.0,428.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1009.0,989.0,623.0,1207.0,977.0,792.0,1044.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
8,452.0,630.0,1470.0,1388.0,1222.0,1177.0,753.0,865.0,0.0,NaN,NaN,NaN,NaN,NaN
9,985.0,1617.0,1245.0,670.0,1289.0,288.0,823.0,1041.0,1144.0,0.0,NaN,NaN,NaN,NaN
10,1098.0,1337.0,448.0,1193.0,722.0,707.0,948.0,630.0,1657.0,1005.0,0.0,NaN,NaN,NaN
11,1260.0,1398.0,717.0,1631.0,734.0,1317.0,1450.0,612.0,1406.0,1495.0,859.0,0.0,NaN,NaN
12,827.0,1515.0,1688.0,1189.0,1380.0,1231.0,657.0,1316.0,937.0,1522.0,1442.0,1574.0,0.0,NaN
13,1109.0,1592.0,1950.0,786.0,1702.0,1212.0,838.0,1413.0,1259.0,1290.0,1418.0,1896.0,526.0,0.0
14,864.0,140.0,1377.0,1904.0,1489.0,967.0,897.0,899.0,720.0,1140.0,1243.0,1287.0,1505.0,1614.0

In [53]:
dist_client = googlemaps.Client(APIKeys.distance)

In [56]:
dist_matrix = dist_client.distance_matrix(coords, coords, mode="transit")

In [57]:
dist_matrix[u'destination_addresses']

[u'8-10 Rue du Faubourg Poissonni\xe8re, 75010 Paris, France',
 u'414 Bosty Ln, Walsall WS9 0QF, UK',
 u'52.151381,-8.390959',
 u'Charter House Centre, Blagdon, Bristol BS40 7XR, UK']

In [61]:
dist_matrix['rows'][0]['elements']

[{u'distance': {u'text': u'1 m', u'value': 0},
  u'duration': {u'text': u'1 min', u'value': 0},
  u'status': u'OK'},
 {u'distance': {u'text': u'654 km', u'value': 653572},
  u'duration': {u'text': u'6 hours 1 min', u'value': 21680},
  u'status': u'OK'},
 {u'status': u'ZERO_RESULTS'},
 {u'distance': {u'text': u'762 km', u'value': 761741},
  u'duration': {u'text': u'13 hours 27 mins', u'value': 48402},
  u'status': u'OK'}]

In [ ]:
result = []
for i, row in enumerate(dist_matrix["rows"]):
    res = []
    for j, element in enumerate(row['elements']):
        if i == j:
            res0 = 0
        else:
            res0 = element["duration"]["value"]
        res.append(res0)
    result.append(res)

In [ ]:
result

In [ ]:
details